:root {
    --main: #fff;
    --dark: #65995F;
    --light: #D6FFD1;
    --normal: #AAE5A4;
    --alt-dark: #99507F;
    --alt-light: #E6A5CF;
    --translucent-main: rgba(255,255,255,0.50);

    --svg-color: invert(56%) sepia(28%) saturate(572%) hue-rotate(67deg) brightness(93%) contrast(86%) drop-shadow(0px 2px 0px rgba(4, 83, 0, 0.205));
    --svg-dark-mode: invert(100%) sepia(99%) saturate(2%) hue-rotate(216deg) brightness(105%) contrast(100%);
}

.root {
    --main: #000;
    --dark: #dadada;
    --light: #111111;
    --normal: #808080;
    --alt-dark: #99507F;
    --alt-light: #E6A5CF;
    --translucent-main: rgba(0, 0, 0, 0.50);

    --svg-color: invert(100%) sepia(99%) saturate(2%) hue-rotate(216deg) brightness(105%) contrast(100%);
}

body {
    font-family: sans-serif;
    font-weight: bold;
    background-image: 
        radial-gradient(var(--light) 30%, transparent 30%),
        radial-gradient(var(--light) 30%, transparent 30%);
    background-position: 0px 0px, 104px 104px;
    background-size: 208px 208px;
    margin: 0;
    animation: scrollBackground 15s linear infinite;
    background-color: var(--main);
}

@keyframes scrollBackground {
    100% {
        background-position: 104px 104px, 208px 208px;
    }
}

