body {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    background-image: 
        radial-gradient(var(--light) 30%, transparent 30%),
        radial-gradient(var(--light) 30%, transparent 30%);
    background-position: 0px 0px, 104px 104px;
    background-size: 208px 208px;
    margin: 0;
    animation: scrollBackground 15s linear infinite;
    background-color: var(--main);
}


@keyframes scrollBackground {
    100% {
        background-position: 104px 104px, 208px 208px;
    }
}

a {
    color:var(--dark);
}

p {
    margin:0;
    color:var(--main-inv); 
    font-size: 12px;
}

h1 {
    color:var(--dark);
    margin:0;
    font-size:28px;
    text-shadow: 0px 2px 0px rgba(4, 83, 0, 0.205)
}

/* the classes from navbar to .dm-switch are all for the navigation bar :skull: */
.navbar {
    background-color: var(--translucent-main);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
    border-bottom: 2px solid var(--light);
    backdrop-filter: blur(20px);
    width:100%;
    padding:10px 0;
    margin-bottom: 50px;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} 

.title {
    padding: 0 32px;
    display: flex;
    align-items: center;
}

.inv-title {
    filter: brightness(3)
}

.buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 32px;
}

.buttonset {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 24px;
}

.buttonset img {
    width: 28px;
    filter: var(--svg-color);
}

.qna {
    cursor:pointer;
    margin: 0 0 0 28px;
    background-color: var(--dark);
    padding: 2px 5px;
    width: 50px;
    height: 30px;
    color: var(--main);
    border-radius: 30px;
    box-shadow: 0px 2px 0px rgba(4, 83, 0, 0.205);
    display: flex;
    justify-content: left;
    align-items: center;
}

.qna-on {
    justify-content: right;
}

.dm-switch {
    background-color: var(--main);
    width:24px;
    height:24px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dm-switch img {
    width:18px;
    filter: var(--svg-color)
}

/*  the disclaimer classes are for the little message in the 
    bottom left corner of the screen lol    */


.disclaimer {
    filter: opacity(50%);
    user-select: none;
    transform: translateY(95px);
    transition: filter 0.3s, transform 0.2s;
}

.disclaimer h1 {
    transition: margin 0.2s;
    margin: 10px 10px 20px 10px;
}

.disclaimer:hover {
    transition: filter 0.2s, transform 0.2s;
    transform: translateY(0);
    filter: opacity(100%);
}

.disclaimer:hover h1 {
    transition: margin 0.2s;
    margin: 10px 10px 15px 10px;
}

/* this one is for the actual website */

.content {
    display: flex;
    justify-content: center;
    margin-left:50px;
    margin-right:50px;
}

.mainmenu {
    width:940px;
}

.mainmenu h1 {
    margin-bottom:10px;
}

.gallery {
    border-style:solid;
    padding:10px 10px;
    border-radius: 20px;
    background-color: var(--translucent-main);
    border-color: var(--light);
    backdrop-filter:blur(20px);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
    width: 940px;

    display: grid;
    grid-template-columns: 2fr 1fr;
}


.sprt {
    width: 10px;
}

.slideshow {
    box-shadow:  0px 0px 15px 0px rgba(0,0,0,0.15);
    border-radius: 10px;
    height:380px;
    backdrop-filter:blur(20px);
    overflow: hidden;
}

.description {
    width: 324px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}


.desc-image {
    max-height: 151px;
    box-shadow:  0px 0px 15px 0px rgba(0,0,0,0.15);
    border-radius: 10px;
    overflow: hidden;
}

.desc-text {
    padding-top:14px;
    padding-right:14px;
    height: 100%;
}

.set-button-social {
    display:flex;
}

.social-button {
    font-size: 12px;
    padding:3px 8px;
    background-color: var(--dark);
    border-radius: 5px;
    width:fit-content;
    margin-right:3px;
    transition: background-color 0.1s;
}

.social-button:hover {
    background-color: var(--normal);
    transition: background-color 0.1s;
}

.social-button a {
    text-decoration: none;
    color:var(--main);
}

/* other styles for the carousel */

.mySlides img {
    width:100%; 
    height: 341px;
}

.fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 2%;
    width: auto;
    height: 30px;
    margin-left: 10px;
    padding: 16px;
    transition: 0.25s ease;
    border-radius: 5px;
    user-select: none;
    background-color: rgba(0,0,0,0.25);
}

.next {
    right:0;
    margin-right: 10px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.carousel-arrow {
    filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(216deg) brightness(105%) contrast(100%);
    width:30px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #3a3a3a3d;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}
  
.active, .dot:hover {
    background-color: #ffffff;
}