:root {
    --black: #000000;
    --white: #ffffff;
    --radius: 15px;
  }
  
  body {
    margin: 0;
    background-color: var(--black);
    color: var(--white);
    font-family: monospace;
    transition: filter 0.5s ease-in-out;
    background-image: url("/images/stars.png");
    background-repeat: repeat;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .rect {
    border-radius: var(--radius);
    border-width: 3px;
    border-style: solid;
    border-color: white;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    min-width: 0px;
    text-align:center;
  }
  
  .black {
    background-color: var(--black);
    color: var(--white);
  }
  
  .white {
    background-color: var(--white);
    color: var(--black);
  }
  
  .shadow {
    box-shadow: 0 0 10px 0 #9c9c9c;
  }
  
  .widen {
    width:100px;
  }
  
  .button:hover {
    transition: background-color 0.1s linear, transform 0.25s ease-out;
    color: var(--white);
    background-color: var(--black);
    transform: translate(10)
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left:75px;
    margin-right:75px;
  }
  
  .large {
    font-size:20px;
  }