body {
  background-color: #000000;
  color: white;
  font-family: "minitext";
  
}


a {
    color: black;
    box-shadow: 0 0 10px 0 #9c9c9c;
    text-decoration: none;
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
}

.rectangle {
    color: white;
    box-shadow: 0 0 10px 0 #FFF;
    text-decoration: none;
    background-color: #000;
    width: 600px;
    padding: 10px 19px;
    border-radius: 10px;
    border-style: solid;
    border-color: #FFF;
}

hr {
    box-shadow: 0 2px 10px 0 #FFF;
    color: #FFF;
}

img {
	box-shadow: 0 0 20px 0 #171717;
}

th {
    color: white;
    box-shadow: 0 0 10px 0 #171717;
    text-decoration: none;
    background-color: #171717;
    padding: 10px 19px;
    border-radius: 10px;
}

#rcorners1 {
  box-shadow: 0 0 10px 0 #FFF;
  border-radius: 30px;
  background: #000;
  padding: 25px; 
  width: 500px;
  height: 35px;  
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #FFF;
}

#notfound {
  box-shadow: 0 0 10px 0 #FFF;
  border-radius: 30px;
  background: #000;
  padding: 25px; 
  width: 1000px;
  height: 210px;  
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #FFF;
}

.topnav a:hover {
	color: #171717;
}

/* topbar section ahagha */
section.topbar-wrapper {
  box-shadow: 0 0 10px 0 #FFF;
  padding:10px;
  border:solid;
  background-color:#FFF;
}

div.title {
  background-color: #010101;
  padding: 2px 20px;
  border-radius: 50px;
}

div.menu {
  border-radius:25px;
  padding:18px 18px;
  font-size:20px;
}

div.topbar {
  display:grid;
  grid-template-columns: 0fr 1fr 3fr;
  grid-gap:0px;
}

div.title-grid {
  display:grid;
  grid-template-columns: 1fr 10fr;
  grid-gap:0px;
}

div.title-text {
  color: white;
  text-align:center;
  font-size: 30px;
}

div.title-image {
  margin:auto;
  
}

.menu-text {
  color:#000;
  text-align:center;
}

a:hover {
  transition: background-color 0.1s linear;
  background-color:#000;
  color:white;
  box-shadow: 0 0 10px 0 #FFF;
}