:root {
    /* color variables */ 
    --main: #fff;
    --main-inv: #565656;
    --dark: #65995F;
    --dark-highlight: #71ab6c;
    --light: #D6FFD1;
    --highlight: #ebffe8;
    --normal: #AAE5A4;
    --alt-dark: #99507F;
    --alt-light: #E6A5CF;
    --translucent-main: rgba(255,255,255,0.50);
    --svg-color: invert(56%) sepia(28%) saturate(572%) hue-rotate(67deg) brightness(93%) contrast(86%) drop-shadow(0px 2px 0px rgba(4, 83, 0, 0.205));
}