/* :root {
    --main: #fff;
    --main-inv: #565656;
    --dark: #aa4121;
    --light: #ffe5d7;
    --highlight: #fff3f0;
    --normal: #f1bbbb;
    --translucent-main: rgba(255,255,255,0.50);
    --svg-color: brightness(0) saturate(100%) invert(27%) sepia(78%) saturate(1223%) hue-rotate(344deg) brightness(92%) contrast(90%);;
} */

:root {
    /* color variables */ 
    --main: #fff;
    --main-inv: #565656;
    --dark: #456a41;
    --dark-highlight: #558350;
    --light: #e0eddd;
    --highlight: #e9f6e6;
    --normal: #a6c7a1;
    --alt-dark: #99507F;
    --alt-light: #E6A5CF;
    --translucent-main: rgba(255,255,255,0.50);
    --svg-color: brightness(0) saturate(100%) invert(36%) sepia(27%) saturate(651%) hue-rotate(67deg) brightness(93%) contrast(87%);
}